.aboutUs {
  display: flex;
  height: 925px;
  width: 100%;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    background-color: $c-white;
    width: 50%;
    height: 100%;

    h3 {
      max-width: 657px;
      text-align: center;
      font: normal normal normal 30px/54px $font-base;
      letter-spacing: -0.6px;
    }

    &__signature {
      margin-left: 400px;
      margin-top: 10px;
      width: 209px;
      height: 149px;
    }
  }

  &__right {
    width: 50%;
    height: 100%;
  }
}

@media only screen and (max-width: 1500px) {
  .aboutUs {
    height: 800px;

    .aboutUs__left__signature {
      margin-left: 300px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .aboutUs {
    height: 700px;

    &__left {
      h3 {
        font-size: 20px;
      }
      &__signature {
        margin-left: 200px;
        width: 159px;
        height: 100px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .aboutUs {
    height: 1400px;
    flex-direction: column;
    flex-wrap: nowrap;

    &__left {
      width: 100%;
      h3 {
        font-size: 25px;
      }
      &__signature {
        margin-left: 200px;
        width: 159px;
        height: 100px;
      }
    }
    &__right {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .aboutUs__right {
    height: 70%;
  }
}
