.contactUs {
  height: 1026px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 20px 100px;
  background: url('/assets/Background-Contact-Form.jpg') no-repeat left/contain;;

  &__form {
    display: flex;
    flex-direction: column;

    height: 330px;
    width: 528px;
  }
}
