.main-button {
  border: 0.75px solid $c-gray;
  margin: 22px;
  background-color: white;
  text-align: center;
}

.main-button-big{
  height: 120px;
  width: 310px;
  font: normal normal 300 36px/45px $font-base;
}

.main-button-medium{
  width: 208px;
  height: 79px;
  font: normal normal normal 24px/85px $font-base;
}

.main-button-small{
  font: normal normal 300 18px/32px $font-base;
}